body{
    margin : 0px;
    padding: 0px;
    overflow: auto;
    overflow-x: hidden;
}
#header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-size: 2.8rem;
    margin: 0px;
    background-color: #212529;
    color: white;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
    z-index: 1;
}
#root{
    width: 100vw;
    max-height: max-content;
    overflow: auto;
    z-index: 1;
}
.inputGroup {
    background-color: #fff;
    display: block;
    margin: 0 0;
    position: relative;
}
.inputGroup label {
    padding: 1.5vh 2.2vw;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.inputGroup label:before {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    background-color: #5562eb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 4px 3.5px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 3vw;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
    color: #fff;
}
.inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.inputGroup input:checked ~ label:after {
    background-color: #54e0c7;
    border-color: #54e0c7;
}
.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}
.form {
    padding: 0 2vw;
    max-width: 60vw;
    margin: 15vh auto;
    margin-bottom: 0px;
    padding-bottom: 15vh;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 36px;
    font-variant: small-caps;
    z-index: -1;
    text-align: center;
}
.button{
    padding: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.3rem;
    margin-top: 5vh;
    font-variant: small-caps;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: medium;
    font-weight: 600;
    /* margin-left: 5%; */
}
.button:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
    border-style: solid;
    border-color: black;
    border-width: medium;
}